@CHARSET "UTF-8";

.x-grid-row-summary .x-grid-cell-inner {
    font-size: 11px;
    font-weight: bold;
}

.x-grid-row-body p {
    margin: 5px 5px 10px !important;
}

.x-grid-table {
	margin-bottom: 0px;
}

.tip {
    color: #fff;
    width: 139px;
    background-color: black;
    border:1px solid #ccc;
    -moz-box-shadow:#555 2px 2px 8px;
    -webkit-box-shadow:#555 2px 2px 8px;
    -o-box-shadow:#555 2px 2px 8px;
    box-shadow:#555 2px 2px 8px;
    opacity:0.9;
    filter:alpha(opacity=90);
    font-size:10px;
    font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
    padding:7px;
}


html {
	
	background-color: #E2E2E2;
	background-image: url("../images/bg_main.png");
	width: 100%;
}
body {
	padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}

a, a:active, a:visited {
    outline: medium none;
}




div#topNavigator a, div#footer a {
	color: #A6A6A6;
}

div#topNavigator a:hover, div#footer a:hover {
	color: #F2F2F2;
}

div#footer {
	background-image: url("../images/bg_footer.png");
	background-color: #2E353B;
	background-position: center top;
    background-repeat: repeat-x;
    margin-top: 2%;
    overflow: hidden;
    padding: 20px 0;
    width: 100%;
	min-height: 200px;
}

#footer div {
	color: #A6A6A6;
	font-size: 13px;
}

#footer div h2{
	font-size: 131%;
    line-height: 120%;
    margin: 0 0 8px;
    font-weight: bold;
    color: #F2F2F2;
}

#footer div p{
    margin: 0.75em 0;
}
#footer ul, #footer li{
	margin: 0;
}



div#userInfo {
	color: #7D7E80;
	text-align: right;
	font-size: 13px;
	padding-bottom: 10px;
	padding-top: 10px;
}

.headerBox {
	background: url("../images/bg_container_top_left.png") no-repeat scroll left top transparent;
    position: relative;    
}

.headerBox div.content {
	background-color: #FFFFFF;
    border-color: #CCCCCC #AFAFAF #AFAFAF;
    border-radius: 0 0 5px 5px;
    border-style: solid;
    border-width: 1px;
    clear: both;
    margin: 0 2px;
    overflow: auto;
    padding: 20px;
}

.headerBox h2 {
	background: url("../images/bg_container_top.png") no-repeat scroll right top transparent;
	color: #545454;
    margin-left: 10px;
    overflow: hidden;
    z-index: 5;
    margin-bottom: 0px;
    padding: 13px 9px 9px 9px;
    text-shadow: 0 1px 0 #FFFFFF;
    font-size: 18px;
    clear: both;
}

table.budget thead td {
	background-color:#4C6E9C;
	color: #ffffff;
	text-align: center;
	font-weight: bold;
}

table.budget tr.sumRow td {
	background-color:#ffc0cb;
}

td.rightAlignNumber {
	text-align: right;
	padding-right: 25px;
}
